@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}



body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes marquee-ltr {
  from {
    transform: translateX(-50%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes marquee-rtl {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-marquee-ltr {
  animation: marquee-ltr 60s linear infinite;
}

.animate-marquee-rtl {
  animation: marquee-rtl 60s linear infinite;
}

@media (prefers-reduced-motion: reduce) {

  .animate-marquee-ltr,
  .animate-marquee-rtl {
    animation: none !important;
  }
}

@keyframes ticker {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-ticker {
  animation: ticker 40s linear infinite;
}

.animate-ticker:hover {
  animation-play-state: paused;
}

.cal-inline-container::-webkit-scrollbar {
  display: none;
}

.cal-inline-container {
  scrollbar-width: none;
}